.btn {
    color: white;
    margin: 0.5em;
    border: none;
    border-radius: 1em;
    font-size: 2em;
    width: 4em;
    height: 3em;
    transition: background-color 1000ms ease-in;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.656);
}

.actionBtn {
    background-color: #F69906;
}

.numBtn {
    background-color: #313131;
}